@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script:wght@700&display=swap');

body {
    text-align: center;
    width: 90%;
    margin: auto;
    font-family: "Bad Script", Helvetica, sans-serif;
    background-color: white;
}

/* header setteings*/
#header-grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    background-color: #937D64;
}
.header-img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 200px;
    margin: 40px 0;
    border: 10px;
    border-color: antiquewhite;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}
#header-nav-grid {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
}
.header-link {
    font-family: "Dancing Script";
    background-color: #937D64;
    text-align: center;
    margin: auto;
    padding: 50px 20px;
}
.link-padding {
    font-size: 2em;
    padding: 20px 30px;
    border-radius: 150px;
    color: #937D64;
    background-color:antiquewhite;
    text-decoration: none;
    line-height: 2em;
}
.link-padding :hover {
    color: brown;
}

/* main canopy settings*/
#canopy-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #937D64;
    color: antiquewhite;
}
.canopy-img {
    margin-top: -20px;
    width: 100%;
    height: 150px;
    grid-column: 1/7;
    grid-row: 1/2;
    justify-self: center;
}
.canopy-h1 {
    font-size: 2em;
    grid-column: 2/6;
    grid-row: 2/3;
    justify-self: center;
    font-family: "Dancing Script";
}
.canopy-h3 {
    font-size: 1.5em;
    grid-column: 2/6;
    grid-row: 3/4;
    justify-self: center;
    font-family: "Dancing Script";
}

/*home page main settings*/
#main-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: antiquewhite;
    padding-top: 30px;
}
.chat-h3-1 {
    height: 100px;
    grid-column: 1/4;
    grid-row: 1/2;
    border-radius: 150px;
    background-color: #ffc037;
    margin-left: 50px;
    margin-top: 10px;
}
.h3-1 {
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
    color: #937D64;
    margin-top: 40px;
}
.chat-h3-2 {
    height: 130px;
    border-radius: 150px;
    background-color: #ffc037;
    justify-self: right;
    margin-right: 20px;
    margin-bottom: 20px;
    grid-column: 3/6;
    grid-row: 2/3;
    margin-top: 30px;
}
.h3-2 {
    text-align: center;
    font-size: 1em;
    margin-top: 40px;
    color: #937D64;
}
.chat-h3-3 {
    height: 150px;
    border-radius: 150px;
    padding: 0 10px;
    background-color: #ffc037;
    justify-self: center;
    align-self: center;
    grid-column: 1/5;
    grid-row: 3/4;
    margin-bottom: 30px;
}
.h3-3 {
    text-align: center;
    font-size: 1em;
    margin-top: 40px;
    color: #937D64;
}

/* special image setting */
.img-comp-container {
    grid-column: 6/9;
    grid-row: 1/5;
}
.img-comp-container {
  position: relative;
  width: 260px; /*should be the same height as the images*/
  margin-right: 20px;
  justify-self: center;
}
.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}
.img-comp-img img {
  display: inline-block;
  vertical-align: middle;
}
.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

.main-p1 {
    font-size: 1.5em;
    grid-column: 1/6;
    grid-row: 4/6;
    background-color: #396E94;
    color: #78CAD2;
    margin: 0 10px;
}
.main-img2 {
    width: 90%;
    height: 900px;
    align-self: center;
    justify-self: center;
    grid-column: 1/4;
    grid-row: 6/9;
    margin: 20px 0;
}
.main-p2 {
    font-size: 1.5em;
    grid-column: 4/9;
    grid-row: 6/7;
    background-color: #396E94;
    color: #78CAD2;
    margin-right: 10px;
}
.main-p3 {
    font-size: 1.5em;
    grid-column: 4/9;
    grid-row: 7/8;
    background-color: #396E94;
    color: #78CAD2;
    margin-right: 10px;
}
.h3-4 {
    font-size: 1.75em;
    grid-column: 4/9;
    grid-row: 8/9;
    text-align: right;
    color: #937D64;
}
.main-img3 {
    width:90%;
    height: 600px;
    grid-column: 1/9;
    grid-row: 9/15;
    justify-self: center;
    margin: 20px;
}
.join-us {
    grid-column: 4/6;
    grid-row: 10/11;
    font-size: 1em;
    line-height: 1.5em;
    justify-self: center;
    background-color: #937D64;
    color:antiquewhite ;
    padding: 0 50px;
    border-radius: 50px;
    margin-top: -50px;
}

/*second page main setting*/
#second-main-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    background-color: antiquewhite;
    color: #937D64;
    margin: 0;
}
.Second-img1 {
    grid-column: 1/5;
    grid-row: 1/2;
    width: 80%;
    margin: 20px 30px;
    justify-self: center;
}
.Second-p1 {
    grid-column: 5/10;
    grid-row: 1/2;
    margin: 20px 20px 20px -20px;
    justify-self: left;
    font-size: 1.45em;
    text-align: left;
}
.Second-h1-1 {
    grid-column: 1/5;
    grid-row: 2/3;
}
.Second-p2 {
    grid-column: 2/5;
    grid-row: 3/4;
    margin-right: 20px;
    font-size: 1.5em;
    text-align: left;
}
.Second-h1-2 {
    grid-column: 1/5;
    grid-row: 4/5;
}
.Second-p3 {
    grid-column: 2/5;
    grid-row: 5/6;
    margin-right: 20px;
    font-size: 1.5em;
    text-align: left;
}
.Second-img2 {
    width: 90%;
    grid-column: 6/9;
    grid-row: 2/6;
    margin: 20px 20px;
    justify-self: center;
    align-self: center;
}
.Second-h1-3 {
    grid-column: 1/5;
    grid-row:   6/7;
    margin-right: 40px;
}
.Second-p4-1 {
    grid-column: 1/6;
    grid-row: 7/8;
    margin-left: 40px;
    font-size: 1.2em;
    text-align: left;
}
.Second-p4-2 {
    grid-column: 1/6;
    grid-row: 8/9;
    margin-left: 40px;
    font-size: 1.2em;
    text-align: left;
}
.Second-p4-3 {
    grid-column: 1/6;
    grid-row: 9/10;
    margin-left: 40px;
    font-size: 1.2em;
    text-align: left;
}
.Second-p4-4 {
    grid-column: 1/6;
    grid-row: 10/11;
    margin-left: 40px;
    font-size: 1.2em;
    text-align: left;
}
.Second-img3 {
    width: 90%;
    grid-column: 6/8;
    grid-row: 6/11;
    margin-right: 10px;
    margin-top: 10px;
    align-self: center;
}
.Second-img4 {
    width: 90%;
    grid-column: 8/10;
    grid-row: 6/11;
    margin-top: 10px;
    margin-right: 20px;
    align-self: center;
}
.Second-h1-4 {
    grid-column: 1/5;
    grid-row: 12/13;
}
.Second-p5-1 {
    grid-column: 1/10;
    grid-row: 14/15;
    text-align: left;
    margin-left: 30px;
    font-size: 1.2em;
}
.Second-p5-2 {
    grid-column: 1/10;
    grid-row: 15/16;
    text-align: left;
    margin-left: 30px;
    font-size: 1.2em;
}
.Second-p5-3 {
    grid-column: 1/10;
    grid-row: 16/17;
    text-align: left;
    margin-left: 30px;
    font-size: 1.2em;
}
.Second-p6 {
    grid-column: 1/10;
    grid-row: 18/19;
    text-align: left;
    margin-left: 30px;
}

/* footer setting */
#footer-grid {
    height: 20%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    background-color: #937D64;
}
.footer-img1 {
    width: 65%;
    justify-self: right;
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/4;
}
.footer-img2 {
    width: 65%;
    justify-self: right;
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/4;
}
.footer-img3 {
    width: 65%;
    justify-self: right;
    align-self: center;
    grid-column: 3/4;
    grid-row: 1/4;
}
.footer-nav {
    font-size: 1em;
    text-align: right;
    margin-top: 50px;
    margin-right: 30px;
    grid-column: 8/10;
    grid-row: 2/3;
}
footer a {
    text-decoration: none;
    color: antiquewhite;
}
footer a :hover {
    color: #937D64;
    opacity: 0.7;
}
.footer-a1, .footer-a2 {
    padding: 0 20px;
}
footer h3 {
    width: 90%;
    font-size: 1.25em;
    text-align: right;
    margin-right: 50px;
    color: antiquewhite;
    grid-column: 7/10;
    grid-row: 3/4;
}



@media screen and (max-width: 1200px) {
    #header-grid {
    display: block;
    height: auto;
    }
    .link-padding {
        line-height: 2em;
        padding: 10px 10px;
    }
    .h3-1 {
        margin-top: 30px;
    }
    .h3-2 {
        margin-top: 20px;
    }
    .h3-3 {
        margin-top: 20px;
    }
    .Second-p1 {
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {
    #header-grid {
    display: block;
    height: auto;
    }
    .link-padding {
        font-size: 1.25em;
        border-radius: 150px;
        line-height: 2em;
    }
    .h3-1, .h3-2, .h3-3, .h3-4{
        font-size: 1em;
        line-height: 1.5em;
        margin-top: 20px;
    }
    .main-p1, .main-p2, .main-p3 {
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 0 10px;
    }
    .img-comp-img {
        width: 220px;
    }
}