#grid {
    display: grid;
    grid-template-columns: repeat (3, 1fr) ;
}
img {
    width: 100%;
}
.main_h3 {
    color: cadetblue;
    margin: 50px;
    justify-content: center;
}
.main_h4 {
    margin: 10px;
    font-size: large;
    justify-content: center;
}
.main_p {
    color: darkgray;
    justify-content: center;
}
.number {
    color: white;
}